<h1>Angular Practice</h1>

<!-- <h1>{{name}}</h1> -->
<!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- <app-for-loop></app-for-loop> -->

<!-- <app-simple-form></app-simple-form> -->
<!-- <app-style-binding></app-style-binding> -->

<!-- <app-add-bootstrap></app-add-bootstrap> -->
<!-- <app-parent-component></app-parent-component> -->

<!-- <app-recieve-data-parent-component></app-recieve-data-parent-component> -->

<!-- <app-pipe></app-pipe> -->

<!-- <a routerLink="users" appCustomDirective>Users</a>
<br><br>
<a routerLink="admin">Admin</a><br><br>
<a routerLink="about">About</a><br><br>
<router-outlet></router-outlet> -->

<app-use-service></app-use-service>
